# Logistic Regression
It is a classification not a regression algorithm. It is used to estimate discrete values ( Binary values like 0/1, yes/no, true/false ) based on given set of independent variable(s). In simple words, it predicts the probability of occurrence of an event by fitting data to a logit function.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('d:Social_Network_Ads.csv')
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
x = df.iloc[:,2:-1]
y = df.iloc[:,-1]

In [4]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=4)

In [5]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [6]:
lr.fit(x_train,y_train)

LogisticRegression()

In [7]:
ypre = lr.predict(x_test)

In [8]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,ypre)

0.7125

![](lr11.jpg)

![](lr12.jpg)

![](lr13.jpg)

![](lr14.jpg)

![](lr15.jpg)

![](lr16.jpg)

![](lr17.jpg)

![](lr18.jpg)

![](lr19.jpg)